fastapi==0.115.12
uvicorn==0.34.1
gunicorn==23.0.0
boto3==1.38.2
pandas==2.2.3
sqlalchemy==2.0.40
pymysql==1.1.1
python-dotenv==1.1.0
matplotlib==3.10.1
seaborn==0.13.2
aiomysql==0.2.0
fastapi-users[sqlalchemy]==10.2.0
email-validator>=1.1.0,<1.4


